<template>
    <div>
        <div class="actions">
            <a-button @click="() => showProductForm()" type="primary" icon="plus">Add</a-button>
            <a-button @click="() => exportProducts()" type="primary" icon="export">Export</a-button>
        </div>
        <div class="serach">
            <a-input @change="e => handleSearch(e.target.value)"></a-input>
        </div>
        <a-table
            class="table"
            :columns="columns"
            :rowKey="record => record.id"
            :dataSource="data"
            :pagination="pagination"
            :loading="loading"
        >
            <template slot="code" slot-scope="text, record">
                <div key="code">
                    <a-input
                        v-if="record.editable"
                        :value="text"
                        @change="e => applyProductChange(e.target.value, record.id, 'code')"
                        style="margin: -5px 0"
                    />
                    <template v-else>
                        <a-avatar v-if="record.photo" :src="record.photo" shape="square" />
                        <a-avatar v-if="!record.photo" shape="square" />
                        {{ text }}
                    </template>
                </div>
            </template>
            <template slot="name" slot-scope="text, record">
                <div key="name">
                    <a-input
                        v-if="record.editable"
                        :value="text"
                        @change="e => applyProductChange(e.target.value, record.id, 'name')"
                        style="margin: -5px 0"
                    />
                    <template v-else>
                        {{ text }}
                    </template>
                </div>
            </template>
            <template slot="price" slot-scope="text, record">
                <div key="price">
                    <a-input-number
                        v-if="record.editable"
                        :min="0"
                        :step="0.1"
                        :value="text"
                        @change="e => applyProductChange(e, record.id, 'price')"
                        style="margin: -5px 0"
                    />
                    <template v-else
                        >{{ text }}
                        <a-tag v-if="!record.isConfirmed" color="red"> Not Confirmed </a-tag>
                    </template>
                </div>
            </template>
            <template slot="lastUpdated" slot-scope="text">
                {{ moment(text).format('MMMM Do YYYY, h:mm:ss a') }}
            </template>
            <template slot="operations" slot-scope="text, record">
                <div class="editable-row-operations">
                    <span v-if="record.editable">
                        <a-button @click="() => editProduct(record.id)" icon="save" />
                        <a-button @click="() => cancelProductEdit(record.id)" icon="close" />
                    </span>
                    <span v-else>
                        <a-button @click="() => beginEditProduct(record.id)" icon="edit"></a-button>
                        <a-upload
                            :beforeUpload="beforeUpload"
                            :showUploadList="false"
                            :action="buildUploadUrl(record.id)"
                            @change="handleChange"
                            name="photo"
                        >
                            <a-button icon="picture" />
                        </a-upload>
                        <a-popconfirm
                            v-if="!record.isConfirmed"
                            title="Sure to confirm?"
                            @confirm="() => confirmProductPrice(record.id)"
                        >
                            <a-button icon="check"></a-button>
                        </a-popconfirm>
                        <a-popconfirm title="Sure to delete?" @confirm="() => deleteProduct(record.id)">
                            <a-button type="danger" icon="delete"></a-button>
                        </a-popconfirm>
                    </span>
                </div>
            </template>
        </a-table>
        <a-modal title="Add New Product" :visible="formVisible">
            <template slot="footer">
                <a-button @click="hideProductFrom">Cancel</a-button>
                <a-button :loading="adding" type="primary" @click="addProduct">
                    Submit
                </a-button>
            </template>
            <a-form :form="form" layout="horizontal">
                <a-form-item label="Code" :label-col="formItemLayout.labelCol" :wrapper-col="formItemLayout.wrapperCol">
                    <a-input v-decorator="['code', { rules: [{ required: true, message: 'Please input code.' }] }]" />
                </a-form-item>
                <a-form-item label="Name" :label-col="formItemLayout.labelCol" :wrapper-col="formItemLayout.wrapperCol">
                    <a-input v-decorator="['name', { rules: [{ required: true, message: 'Please input name.' }] }]" />
                </a-form-item>
                <a-form-item
                    label="Price"
                    :label-col="formItemLayout.labelCol"
                    :wrapper-col="formItemLayout.wrapperCol"
                >
                    <a-input-number
                        :min="0"
                        :step="0.1"
                        v-decorator="['price', { rules: [{ required: true, message: 'Please input price.' }] }]"
                    />
                </a-form-item>
            </a-form>
        </a-modal>
    </div>
</template>

<script>
import axios from 'axios';
import Products from '@/repositories/products';

var products = new Products();
const columns = [
    {
        title: 'Code',
        dataIndex: 'code',
        width: '20%',
        scopedSlots: { customRender: 'code' }
    },
    {
        title: 'Name',
        dataIndex: 'name',
        width: '20%',
        scopedSlots: { customRender: 'name' }
    },
    {
        title: 'Price',
        dataIndex: 'price',
        width: '20%',
        scopedSlots: { customRender: 'price' }
    },
    {
        title: 'Updated At',
        dataIndex: 'lastUpdated',
        width: '30%',
        scopedSlots: { customRender: 'lastUpdated' }
    },
    {
        width: '30%',
        scopedSlots: { customRender: 'operations' }
    }
];

export default {
    name: 'home',
    components: {},
    data() {
        return {
            data: [],
            pagination: {},
            loading: false,
            adding: false,
            formVisible: false,
            search: '',
            interval: null,
            columns
        };
    },
    beforeCreate() {
        this.form = this.$form.createForm(this, { name: 'productForm' });
    },
    async mounted() {
        await this.loadData();
    },
    computed: {
        formItemLayout() {
            const { formLayout } = this;
            return {
                labelCol: { span: 4 },
                wrapperCol: { span: 20 }
            };
        }
    },
    methods: {
        buildUploadUrl(id) {
            return `http://localhost:5000/rest/api/product/v1.0/products/${id}/photo`;
        },
        async handleSearch(search) {
            this.search = search;

            if (this.interval) {
                clearInterval(this.interval);
                this.interval = null;
            }

            this.interval = setInterval(async () => {
                clearInterval(this.interval);
                this.interval = null;

                await this.loadData();
            }, 250);
        },
        async loadData() {
            try {
                this.loading = true;
                this.data = await products.getAll(this.search || '');
                this.cacheData = this.data.map(item => ({ ...item }));
            } catch (exception) {
                this.$notification.error({
                    message: 'Loading Products Failed'
                });
            } finally {
                this.loading = false;
            }
        },
        showProductForm() {
            this.formVisible = true;
        },
        hideProductFrom() {
            this.formVisible = false;
        },
        beginEditProduct(id) {
            const newData = [...this.data];
            const target = newData.filter(item => id === item.id)[0];
            if (target) {
                target.editable = true;
                this.data = newData;
            }
        },
        cancelProductEdit(id) {
            const newData = [...this.data];
            const target = newData.filter(item => id === item.id)[0];
            if (target) {
                Object.assign(target, this.cacheData.filter(item => id === item.id)[0]);
                delete target.editable;
                this.data = newData;
            }
        },
        applyProductChange(value, id, column) {
            const newData = [...this.data];
            const target = newData.filter(item => id === item.id)[0];
            if (target) {
                target[column] = value;
                this.data = newData;
            }
        },
        async handleChange(info) {
            if (info.file.status === 'uploading') {
                this.loading = true;
            }

            if (info.file.status === 'error') {
                this.loading = false;
                this.$notification.error({
                    message: 'Uploading Product Photo Failed'                    
                });
            }

            if (info.file.status === 'done') {
                this.loading = false;
                await this.loadData();
            }
        },
        beforeUpload(file) {
            if (file.type !== 'image/jpeg') {
                this.$message.error('You can only upload JPG file.');
                return false;
            }

            if (file.size / 1024 / 1024 > 2) {
                this.$message.error('Image must be smaller than 2MB.');
                return false;
            }

            return true;
        },
        exportProducts() {
            window.open(`http://localhost:5000/rest/api/product/v1.0/products/export?search=${this.search}`);
        },
        async addProduct() {
            this.form.validateFields(async (errors, values) => {
                if (errors) return;

                try {
                    this.adding = true;

                    await products.add(values);
                    await this.loadData();

                    this.form.resetFields();
                    this.formVisible = false;
                } catch (exception) {
                    this.$notification.error({
                        message: 'Adding Product Failed',
                        description: exception
                    });
                } finally {
                    this.adding = false;
                }
            });
        },
        async editProduct(id) {
            const newData = [...this.data];
            const target = newData.filter(item => id === item.id)[0];
            if (target) {
                try {
                    this.loading = true;
                    await products.edit(target.id, target);
                    await this.loadData();
                    delete target.editable;
                } catch (exception) {
                    this.$notification.error({
                        message: 'Editing Product Failed',
                        description: exception
                    });
                } finally {
                    this.loading = false;
                }
            }
        },
        async confirmProductPrice(id) {
            try {
                this.loading = true;
                await products.confirmPrice(id);
                await this.loadData();
            } catch (exception) {
                this.$notification.error({
                    message: 'Confirming Product Price Failed',
                    description: exception
                });
            } finally {
                this.loading = false;
            }
        },
        async deleteProduct(id) {
            try {
                this.loading = true;
                await products.remove(id);
                await this.loadData();
            } catch (exception) {
                this.$notification.error({
                    message: 'Deleting Product Failed',
                    description: exception
                });
            } finally {
                this.loading = false;
            }
        }
    }
};
</script>

<style scoped>
.actions,
.serach,
.table {
    margin: 5px;
}

.actions button {
    margin: 5px;
}

.editable-row-operations button {
    margin: 0 2px;
}
</style>
